window {
	background-image: linear-gradient(to bottom, red, blue);
}

.spin-button {
	/* background-color: red; */
	color: yellow;
	font-size: 25px;
	font-family: verdana;
	font-weight: bold;
	font-style: italic;
	font-variant: normal;
	letter-spacing: 3px;
	/* margin-left: 100px; */
	text-shadow: 3px 2px black;
	/* padding: 10px; */
}

.spin-button > entry {
	/* background-color: red; */
	border-radius: 50px;
	/* background-color: rgb(255, 58, 44); */
	background-color: rgba(255, 0, 0, 0.2);
	/* margin-left: 100px; */
	text-shadow: 3px 2px black;
}

.spin-button > button.down {
	background-color: red;
	color: magenta;
	border-color: black;
}

.spin-button > button.up {
	background-color: green;
	color: yellow;
	border-color: black;
}

.spin-button > button.down:hover {
	background-color: black;
	color: yellow;
	border-color: solid;
}

.spin-button > button.up:hover {
	background-color: black;
	color: magenta;
	border-color: solid;
}

